.header {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	background-color: #06b0ca;
	height: 120px;
	padding: 0;
	margin: 0;
}

.header h1 {
	color: #ffffff;
	font-family: 'Berkshire Swash', cursive;
	text-decoration: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-bottom: 3px;
	letter-spacing: 1px;
	font-size: 36px;
	
}

.header h2 {
	color: #ffffff;
	font-family: 'Berkshire Swash', cursive;
	line-height: 0;
	margin-top: 15px;
	letter-spacing: 1px;
	font-size: 30px;
}

.empresslogo {
	height: 120px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
}

.jumbotron {
    background: url(../images/Amano_FFIII_Group.jpg) no-repeat center center;
    background-size: cover;
    height: 764px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    padding-top:25px;
}



.crystalImage1, .crystalImage2, .crystalImage3, .crystalImage4 {
	background-color: rgba(255, 255, 255, 0.6);
	width: 105px;
	height: 105px;
	margin: 10px;
    border: 2px solid lightblue;
    cursor: pointer;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.crystalImage1:hover {
	background-color: #9cb6fc;
    border: 2px solid orange;
}

.crystalImage2:hover {
	background-color: #d53654;
    border: 2px solid orange;
}

.crystalImage3:hover {
	background-color: #a2fe45;
    border: 2px solid orange;
}

.crystalImage4:hover {
	background-color: #f3732a;
    border: 2px solid orange;
}


.container {
	max-width: 900px;
	margin: 0 auto 0 auto;
}

#summary {
	background-color: rgba(183, 215, 232, 0.4);
	width: 550px;
	padding: 15px;
	margin: 0px;
	border: 2px solid lightblue;
}

div.transbox p {
	font-size: 15px;
	font-family: 'Rufina', serif;
	line-height: 1.25;
	margin: 10px;
    color: #000000;
}

#scoreBar {
	background-color: rgba(183, 215, 232, 0.4);
	font-family: 'Rufina', serif;
	font-size: 20px;
	width: 250px;
	padding: 15px;
	margin: 20px;
	/*border: 2px solid lightblue;*/
}

h2 {
	color: #ffffff;
	font-family: 'Berkshire Swash', cursive;
	letter-spacing: 1px;
	font-size: 28px;
	margin: 0;
	padding: 0;
}

#empressGuess {
	padding: 15px 15px 5px 20px;
	margin: 20px 0 0 0;
	line-height: 0;
	border-radius: 25px;
	background-color: #efac68;
	width: 340px;
	height: 60px;
}

#yourGuess {
	padding: 15px 15px 5px 20px;
	margin: 20px 0 0 0;
	line-height: 0;
	border-radius: 25px;
	background-color: #5174b1;
	width: 340px;
	height: 60px;
}


.footer { 
  background: #5095af;
  height: 80px;
}

.footer p {
  color: #ffffff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
}